body {
  color: #404040;
  font-size: 11pt;
  font-family: Georgia, Garamond, serif;
  background: url("images/silverware.jpg") repeat center center fixed;
}

header {
  border-bottom: #a79f9c solid 2px;
}

.centerContent {
  text-align: center;
}

header .content {
  font-family: Lucida Sans Unicode, Helvetica, Arial, serif;
}

.title {
  color: #a4a400;
  text-decoration: underline;
  background-color: #F0F0F0;
  font-family: Lucida Sans Unicode, Helvetica, Arial, serif;
}

header .titleimage {
  border-radius: 50%;
  max-width: 80px;
}

.container {
  margin: 15px;
}
a {
  color: #A4A400 ;
}
span img {
  max-height: 10em;
}
div .divider {
  border-bottom: 2px solid #a79f9c;
}
.monofont {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 22px;
}
.nodecor {
  list-style: none;
  padding-left: 0em;
}
.strike {
  text-decoration: line-through;
}

div > section {
  background-color: #f9f96ac2;
}
footer {
  text-align: right;
}
.copyright {
  font-size: smaller;
  font-family: monospace;
}
abbr{
    text-decoration: underline;
}
ul{
    list-style-image: url("images/pie_icon.gif");
}
